html {
    color: #222;
    font-size: 15px;
    line-height: 1.4;
    font-family: 'IBM Plex Mono', 'Courier New', Courier, monospace;
}

:root {
  --background-color: #607FBA !important;
}

.terminal-prompt::before {
  content: "" !important;
}

.terminal-prompt {
  white-space: normal !important;
}

.container {
  width: 95%;
}

.grid {
  display: grid;
  grid-template-columns: [first] 60% [line2] 40%;
}

.left-pane {
  display: flex;
  grid-column-start: 1;
  grid-column-end: line2;
}

.right-pane {
  grid-column-start: line2;
}

.base-colour-bg {
  background-color: var(--background-color);
}
