:root {
  --primary-color: whitesmoke !important;
}

.screen {
    font-size: 2em;
    color: whitesmoke;
    background-color: rgba(12, 12, 12, 0.5);
    height: 80vh;
    width: 80vw;
    position: relative;
    top: 5rem;
    left: 10rem;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.screen-grid {
  position: relative;
  top: 2.5em;
  left: 1.5em;
  width: 95%;
  height: 80%;
  max-width: 95%;
  max-height: 80%;
  line-height: 1em;
  text-transform: uppercase;
  scroll-behavior: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.terminal-prompt::after {
	content: "";
	-webkit-animation: cursor .8s infinite;
	animation: cursor .8s infinite;
	background: var(--primary-color);
	border-radius: 0;
	display: inline-block;
	height: 1em;
	margin-left: .2em;
	width: 0.65em !important;
	bottom: -2px;
	position: relative;
}


